.error {
  padding: 5px;
  border: 1px solid #f44444;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #f44444;
  background-color: #ffffff;
}

.captcha {
  display: block;
  height: 70px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}