.top-wrapper {
  position: relative;
  display: flex;
  padding-right: 120px;
}

.edit-btn {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
  max-width: 120px;
  width: 100%;
  padding: 5px 10px;
  color: #ffffff;
  background-color: #002191;
  border: none;
  border-bottom-left-radius: 30px;
}

.edit-btn:hover {
  color: #002191;
  background-color: #ffffff;
  box-shadow: 0 0 10px 2px #002191;
}

.edit-btn:active {
  opacity: 0.6;
}

.avatar-img {
  max-width: 160px;
  height: 160px;
  object-fit: cover;
  object-position: center;
  margin-right: 20px;
  margin-bottom: 5px;
}

.img-btn {
  position: absolute;
  top: 170px;
  left: 10px;
  width: 100%;
}

.img-btn label {
  display: none;
}

.list {
  list-style: none;
  padding: 0 10px;
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 500;
  color: #002191;
}

.list li li {
  margin-left: 10px;
  font-style: italic;
}

.contacts {
  padding: 10px;
}

.contacts__lsit {
  padding: 0 20px;
  color: #4f0971;
}

.name {
  margin: 10px 0;
}