img {
  max-width: 100%;
  height: auto;
}

.app-wrapper {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
}

.main-list {
  list-style: none;
}

.main-title {
  text-align: center;
}

.main-link {
  transition: all 0.3s;
  cursor: pointer;
}

.main-link:hover {
  opacity: 0.8;
}

.main-link:active {
  opacity: 0.6;
}

.main-form {
  display: block;
  max-width: 400px;
  margin: 10px auto;
}

.main-form input:not([type="checkbox"]) {
  width: 100%;
  padding: 7px 5px;
}

.main-form__field-wrpper {
  margin-bottom: 10px;
}

.main-form input[type="checkbox"] {
  margin-top: 5px;
} 

.main-form__section {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 15px;
}